.topBar {
  text-shadow: 5px black;
  display: flex;
  flex-direction: row;
  border-style: 21x solid rgb(155, 73, 73);
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  padding: 5%;
  left: 100px;
  width: auto;
  align-items: center;
}

.sortedBillsDiv {
  box-sizing: content-box;
  display: grid;
  width: 1300px;
  align-content: center;
  margin-bottom: 300px;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 1rem;

  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 1200px) {
  .sortedBillsDiv {
    box-sizing: content-box;
    display: grid;
    width: 80px;
    align-content: center;
    margin-bottom: 300px;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 1rem;

    position: relative;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.topBar2 {
  text-shadow: 5px black;
  display: flex;
  flex-direction: column;
  border-style: 21x solid rgb(155, 73, 73);
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  margin-right: 0;
  margin-left: 0;
  padding: 5%;
  left: 100px;
  width: 100%;
}

.maxMin {
  margin-left: 5%;

  display: flex;
  flex-direction: row;
}

.filterInput {
  border-radius: 0;
  padding: 0;
  margin-left: 5%;
  width: auto;
  max-width: 300px;
  min-width: 150px;
}

.flexDiv {
  display: flex;
  flex-direction: column;
}
